FOOTBALL_API_KEY=your_football_data_org_api_key
FOOTBALL_API_BASE_URL=https://api.football-data.org/v4
COMPETITION_CODE=WC

GCP_PROJECT_ID=your-gcp-project-id
GCS_BUCKET_NAME=wfi-football-raw-data
SERVICE_ACCOUNT_PATH=service_account.json

RAW_DATASET=wfi_raw
STAGING_DATASET=wfi_staging
GOLD_DATASET=wfi_gold

LOCAL_DATA_DIR=data/raw
